{% extends 'layout.html' %}

{% block content %}

    <div class="container">
      <div class="header">
        <h1>About bloRan</h1>
      </div>
      <div class="about">
        <img src="static/images/Bloran.png" alt="Team photo">
        <h1>bloRan</h1>
        <p>bloRan is a cyber security blog dedicated to helping individuals and organizations stay safe in the digital Realm. Our community of contributors include cyber security professionals, researchers, and enthusiasts from around the world, who are passionate about sharing their knowledge and experience with others</p> 
      </div>
      <div class="about">
        <img src="static/images/open_source.png" alt="Team photo">
        <h2>Our mission</h2>
        <p>Our mission is to provide free and accessible information, tools, and resources related to cyber security to help protect against the ever-evolving threat landscape. We encourage collaboration and welcome feedback from our readers, as we believe that together, we can all make the digital world a safer place.</p>
      </div>  
    </div>
  
{% endblock content %}